video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.dandf-container {
     background: url('img_5.png') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.dandf-container > h1 {
    color: rgb(44, 49, 61);
    font-size: 100px;
    margin-top: -100px;
}

.dandf-container > p {
    margin-top: 8px;
    color: rgb(44, 49, 61);
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.dandf-bttns {
    margin-top: 32px;
}

.dandf-bttns .btn {
    margin: 6px;
}

.fa-play-circle {
    margin-left: 4px;
}

@media screen and (max-width: 960px) {
    .dandf-container > h1 {
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .dandf-container > h1 {
        font-size: 50px;
        margin-top: -100px;
    }

    .dandf-container > p {
        font-size: 30px;
    }

    .bttn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}
