:root {
    --primary: #ffffff;
}

.bttn {
    padding: 5px 10px;
    border-radius: 1px;
    outline: none;
    border: none;
    cursor: pointer;
}

.bttn--primary {
    background-color: var(--primary);
    color: #ffffff;
    border: 1px solid var(--primary);
}

.bttn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 10px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.bttn--medium {
    padding: 4px 8px;
    font-size: 18px;
}

.bttn--large {
    padding: 8px 20px;
    font-size: 20px;
}

.bttn--large:hover,
.bttn--medium:hover {
    transition: all 0.3s ease-out;
    background: rgb(252, 252, 252);
    color: white;
    border: 1px solid white;
    transition: 250ms;
}



