.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registration {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

}

.registration input {
  width: 300px;
  height: 60px;
  margin: 10px;
  font-size: 25px;
  padding-left: 10px;
}

button {
  width: 300px;
  height: 50px;
  margin-top: 15px;
}

button:hover {
  cursor: pointer
}

.users {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;

}

.user {
  width: 700px;
  height: auto;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding: 10px;
  font-family: monospace;
}

.user h3 {
  margin: 20px;
}
